#welcome
  .hero-unit
    %h1
      This and that
      %br>/
      with
      %span{:style => "color:#0073cc;"} these
      things
    %p
      And a witty tagline goes here
      %br/
      This is. What you. Might do. With it.
  #well.row.well
    .span4.offset2.text_only
      We're fanatical about the speed of our service. To ensure a great experience for all of our users we're inviting people on a rolling basis. Enter your email to the right and we'll keep you posted on our progress. We'll get you your invite as soon as we can!
    .span4
      #request-invite.form-inline
        = render 'email_capture'
