#welcome
  .hero-unit
    %h1
      Your
      %span{:style => "color:#0073cc;"} free
      %br>/
      virtual secretary
    %p
      Let me organize the life for you.
      %br/
      You just live it. You just...DO!
  #well.row.well
    .span4.offset2.text_only
      Do The Life is a productivity application that allows you to create repeatable tasks to achieve long term goals. It automatically finds suitable time slot for each task by integrating with your existing calendars. Do The Life resolves all possible conflicts with events from your calendar and learns about your lifestyle in order to create the best and most productive schedule just the way you want.
    .span4
      #request-invite.form-inline
        = render 'email_capture'
