!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome to Do The Life
    %p
      Congratulations on signing up for Do The Life at dothelife.com!
      This is the first step towards your better life.
    %p
      We'll contact you when we launch.
